form label {
  display: inline-block;
  margin-top: 10px;
  width: 100%;
  vertical-align: top;
}
form input, form select {
  display: inline-block;
  width: 200px;
  margin-top: 10px;
}

h1 {
  font-family: 'Archivo Black', sans-serif;
}

body {
  font-family: 'Maven Pro', sans-serif;
}

ul {
  text-align: left;
  list-style-position: inside;
  line-height: 30px;
  border: solid;
  padding: 10px;
}

.sightings {
  display: flex;
}

.form-column {
  width: 300px;
  margin: 10px;
}

.list-column {
  width: 500px;
  margin: 10px;
}

h2 {
  text-align: center;
}